@font-face {
    font-family: "Raleway";
    src: url(../Raleway/static/Raleway-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Raleway";
    src: url(../Raleway/static/Raleway-Regular.ttf);
}